.title {
    color: red;
}

body {
    background-color: blue;
}

.isHome {
    background-color: red;
}

.email {
    color: black;
}

.input {
    color: red;
    border-radius: 10px;
    background-color: green;
    height: 50px;
    width: 70px;
    padding: 0px 0px;
}

.address {
    color: red;
}

.hob {
    background-color: yellow;
}